.body {
  background-image: url('https://images.unsplash.com/photo-1559213237-6fdea41b7308?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.profile {
  background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQGB2KIiUXfzow/profile-displayphoto-shrink_800_800/0/1608215216602?e=1617235200&v=beta&t=ieLTrj86j34DAwKqFzQTUMoqUO4LrOSWM_ta9QWDbZM');
}

.bg-dark {
  background-image: url('https://images.unsplash.com/photo-1519782776326-a98601cb7272?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
}
